<%= form_for(@pirate) do |f| %>
    <p><%= f.label "Yer Name:" %>
    <%= f.text_field :name %></p>

    <p><%= f.label "Yer Secret Code:" %>
    <%= f.password_field :password %></p>

    <p><%= f.label "Name of Yer Ship:" %>
    <%= f.text_field :name_of_ship %></p>

    <p><%= f.label "How Many in Yer Crew?:" %>
    <%= f.number_field :crew_size %></p>

    <p><%= f.label "Bottles of Rum:" %>
    <%= f.number_field :bottles_of_rum %></p>

    <p><%= f.submit "Head to the High Seas" %></p>
<% end %>