<%= render partial: 'layouts/errors', locals: {object: @pirate} %>

<%= form_for(@pirate) do |f| %>
    <p><%= f.label :name, "Yer Name:" %>
    <%= f.text_field :name %></p>

    <p><%= f.label :password, "Yer Secret Code:" %>
    <%= f.password_field :password %></p>

    <p><%= f.label :name_of_ship, "Name of Yer Ship:" %>
    <%= f.text_field :name_of_ship %></p>

    <p><%= f.label :crew_size, "How Many in Yer Crew?:" %>
    <%= f.number_field :crew_size %></p>

    <p><%= f.label :bottles_of_rum, "Bottles of Rum:" %>
    <%= f.number_field :bottles_of_rum %></p>

    <h2>Buried Treasures Yer After</h2>

    <%= f.fields_for :buried_treasures do |t| %>
        <p><%= t.label :name, "The name of the treasure yer map leads to:" %>
        <%= t.text_field :name %></p>
    <% end %>

    <p><%= f.submit "Head to the High Seas" %></p>
<% end %>