<%= form_for(@pirate) do |f| %>
    <p><%= f.label :name, "Yer Name:" %>
    <%= f.text_field :name %></p>

    <p><%= f.label :password, "Yer Secret Code:" %>
    <%= f.password_field :password %></p>

    <p><%= f.label :name_of_ship, "Name of Yer Ship:" %>
    <%= f.text_field :name_of_ship %></p>

    <p><%= f.label :crew_size, "How Many in Yer Crew?:" %>
    <%= f.number_field :crew_size %></p>

    <p><%= f.label :bottles_of_rum, "Bottles of Rum:" %>
    <%= f.number_field :bottles_of_rum %></p>

    <h2>Add yer map</h2>

    <%= f.fields_for (:map) do |m| %>
        <p><%= m.label :map_name, "The name of ye map:" %>
        <%= m.text_field :map_name %></p>

        <p><%= m.label :secret_hiding_place, "Where be the secret place the map is stowed?:" %>
        <%= m.text_field :secret_hiding_place %></p>
    <% end %>

    <p><%= f.submit "Head to the High Seas" %></p>
<% end %>