<h1 align="center">Ahoy, <%= @pirate.name %>!</h1>

<h3 align="center">Yer sailing the <%= @pirate.name_of_ship %> with a crew of <%= @pirate.crew_size %>, and <%= @pirate.bottles_of_rum %> bottles of rum, yaaaaarg!</h3>

<p><strong>Here be the treasures ye found:</strong></p>
    <ul>
        <% @pirate.buried_treasures.each do |t| %>
            <li><%= link_to t.name, buried_treasure_path(t) %></li>
        <% end %>
    </ul>

<p><%= link_to "Add a new Treasure to yer stash", '/buried_treasures/new' %>