<%= form_for(@buried_treasure) do |f| %>
    <p><%= f.label :name, "Treasure Name:" %>
    <%= f.text_field :name %></p>

    <p><%= f.label :booby_traps, "How Many Booby Traps Were There?:" %>
    <%= f.number_field :booby_traps %></p>

    <p><%= f.label :curses, "How Many Curses Did This Treasure Give You?:" %>
    <%= f.number_field :curses %></p>

    <p><%= f.label :description_of_booty, "What Are Yer Spoils?:" %>
    <%= f.text_field :description_of_booty %></p>

    <p><%= f.submit "Update This Treasure" %></p>
<% end %>